html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

#root{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -100px 0; /* отрицательный нижний отступ на высоту футера */
    padding: 0;
    background-color: #F5F8FA; 
}

.sign-in-back{
   background: #ffffff; 
   padding: 20px;
   width: 50%;
   text-align: center;
   margin-top: 5%;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}

.sign-in-title{
   margin-bottom: 20px;
}

.btn{
   margin-top: 30px;
}


.img-music{
    background-image: url(/images/icon_main.svg);
}

.navbar{
    font-size: 18px;
}

.nav .navbar-nav{
    font-size: 18px;   
}

.home-page{
    margin-top: 50px;
}
 
/* footer styles */
.footer-bottom {
    height: 100px;
    margin: 0;
    padding: 0;
    background: #000000;
}

.footer-text{
    color: #999999;
    font-size: 18px;
    padding-top: 20px;
}


/* footer */

.app {
  display: flex;
  font-family: Arial;
}

aside.primary-aside {
  width: 200px;

}

aside.primary-aside a.active {
    font-weight: bold;
}



.dropzone{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px;
    color: #000;
    font-family: Arial;
    font-weight: bold;
    border: 2px dashed yellow
}

.preloader{
    border: none;
}
.preloader img{
    stroke: #000;
}

.dropzone--active{
    background: yellow;
}

.songLists{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-bottom: 10%;
}

.songList h1{
   margin-bottom: 30px;
}

.error, .success{
    color: red;
    text-align: left;
    padding: 20px 0;
}
.success{
    color: green;
}


.panel-white {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  padding: 10px;
  list-style: none;
  font-size: 18px;
}

.panel-white img{
   width: 25px;
   height: 25px;
   float: left;
   margin-right: 10px;
}



/*home page styles*/
.home-title{
    font-size: 90px;
}

.home-desc{
    font-size: 30px;
}

/* home page styles*/

.alert-text{
   padding-left: 10px;
}

.sign-out-button{
   text-align: center;

}

