.app {
    font-family: Arial;
    display: flex;
}

aside.primary-aside {
    width: 200px;
}

aside.primary-aside a.active {
    font-weight: bold;
}

main {
    flex: 1;
}

.dropzone {
    font-family: Arial;
    font-weight: bold;
    display: flex;
    padding: 20px;
    color: #000;
    border: 2px dashed yellow;
    justify-content: center;
    align-self: center;
}

.preloader {
    border: none;
}

.preloader img {
    stroke: #000;
}

.dropzone--active {
    background: yellow;
}

.songLists {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.error, .success {
    padding: 20px 0;
    text-align: left;
    color: red;
}

.success {
    color: green;
}
