.app {
  display: flex;
    font-family: Arial;
}

aside.primary-aside {
  width: 200px;
}

aside.primary-aside a.active {
    font-weight: bold;
}

main {
  flex: 1;
}

.dropzone{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px;
    color: #000;
    font-family: Arial;
    font-weight: bold;
    border: 2px dashed yellow
}

.preloader{
    border: none;
}
.preloader img{
    stroke: #000;
}

.dropzone--active{
    background: yellow;
}

.songLists{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.error, .success{
    color: red;
    text-align: left;
    padding: 20px 0;
}
.success{
    color: green;
}